#Resume-form{ 
 
} 
#Resume-template{ 
    display:none; 
} 
.myimg{ 
   /* border:1px solid red;*/ 
    border-radius: 80%; 
    width: 150px; 
 
} 
.background{ 
    background-color: gray; s
} 